.agent-description-section{
    display: flex;
    flex-direction: column;
    top: 79px;
}

.agent-description-section .agent-role-wrapper{
    display: flex;
    align-items: center;
}

.agent-description-section .agent-role-wrapper img{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.agent-description-section p{
    margin: 1rem 0;
}

@media screen and (max-width: 1366px){
  .agent-description-section .agent-role-wrapper img{
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
  }
}

@media screen and (max-width: 960px){
    .agent-description-section .agent-role-wrapper img{
        filter: invert(1);
        -webkit-filter: invert(1);
    }
    .agent-description-section h1{
        font-size: 3.5rem;
    }
    .agent-description-section .agent-role-wrapper img{
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (max-width: 600px){
    .agent-description-section h1{
        font-size: 3rem;
    }
}