footer{
    background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt79884e227405b9c1/6348b3bd003fd824f29f98ec/VALORANT_2022_E5-3_PlayVALORANT_Homepage_3440x1020_MB01_Opt.jpg");
    background-position: center top;
    background-size: cover;
    min-width: 100vw;
    height: 60vh;
}