footer{
    background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt79884e227405b9c1/6348b3bd003fd824f29f98ec/VALORANT_2022_E5-3_PlayVALORANT_Homepage_3440x1020_MB01_Opt.jpg");
    background-position: center top;
    background-size: cover;
    min-width: 100vw;
    overflow-x: hidden;
    height: 60vh;
    display: flex;
    align-items: center;
    color: var(--valo-text);
}

footer .footer-content h1{
    font-size: 5rem;
    letter-spacing: -0.15rem;
}

footer .footer-content h1 span{
    position: relative;
    top: -3.5rem;
}

footer .footer-content ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -4rem;
}

footer .footer-content ul li svg{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--valo-text);
}

footer .footer-content ul li svg:hover{
    color: #b2b2b2;
}

footer .footer-content p{
    position: relative;
    top: -3rem;
}

@media screen and (max-width: 600px){
    footer{
        background-position: center left;
    }
    footer .footer-content h1{
        font-size: 3rem;
    }
    
    footer .footer-content h1 span{
        position: relative;
        top: -2rem;
    }
    footer .footer-content ul{
        top: -2rem;
    }
    footer .footer-content p{
        top: -1rem;
    }
}