/* Header */
.header-section {
  height: 100vh;
  width: 100vw;
  margin-top: 3.5rem;
  overflow: hidden;
}
  
.header-content {
  height: 78%;
  min-width: 100vw;
  background-image: url("../../../public/assets/img/bg-header.webp");
  background-position: center;
  background-size: cover;
}

#agentArt {
  display: flex;
  justify-content: center;
  height: 86%;
  width: 100vw;
  overflow-x: hidden;
  top: 9rem;
  left: 0;
  position: absolute;
  transition: all ease-in-out .3s;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  z-index: 90;
}

/**
 * ----------------------------------------
 * Medium Mobile Device Media Queries
 * ----------------------------------------
 */

@media screen and (max-width: 1024px){
  #agentArt{
    top: 6.5rem;
  }
}

@media screen and (max-width: 900px){
  #agentArt{
    top: 9rem;
  }
}

@media screen and (max-width: 700px){
  #agentArt{
    top: 8rem;
  }
}
